<template name="logList">
  <ul class="sortable-list connectList agile-list" id="todo">
    {{#each getLogMessages}}

        <li class={{getItemListClass this.level}}>
          {{message}}
          <div class="agile-detail">
            <!--<a href="#" class="pull-right btn btn-xs btn-white">Tag</a>-->
            <i class="fa fa-clock-o"></i> {{dateFormat date}} &nbsp; {{getUserInfo}}
          </div>
        </li>

    {{/each}}
  </ul>
</template>