<template name="login">
  <div class="middle-box text-center loginscreen animated fadeInDown">
    <div>
      <div>
        <img src="images/logo-oven.png" width="300">
      </div>
      <div class="form-group">
        <input type="email" id="loginField" class="form-control" placeholder={{_ "Username"}} required="">
      </div>
      <div class="form-group">
        <input type="password" id="passwordField" class="form-control" placeholder={{_ "Password"}} required="">
      </div>
      <button type="submit" id="jsLogin" class="btn btn-primary block full-width m-b">{{_ "Login"}}</button>
    </div>
  </div>
</template>
