<template name="usersListCom">

  {{#if Template.subscriptionsReady}}
    <div class="wrapper wrapper-content animated fadeInRight">
      <div class="row">
        {{#each users}}
        <div class="col-md-3">
          <div class="ibox">
            <div class="ibox-content product-box">
              <div class="product-desc">
                <small class="text-muted">{{getRolesText}}</small>
                <a href="#" class="product-name"> {{emails.[0].address}}</a>
                <div class="small m-t-xs">
                  {{profile.name}}
                </div>
                <div class="m-t text-righ">
                  <a href="{{pathFor 'App.users.update' userId=_id}}" class="btn btn-xs btn-outline btn-primary">{{_ 'Edit'}} <i class="fa fa-long-arrow-right"></i> </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        {{/each}}

      </div>
    </div>
  {{else}}
    <div class="spiner">
      <div class="sk-spinner sk-spinner-double-bounce">
        <div class="sk-double-bounce1"></div>
        <div class="sk-double-bounce2"></div>
      </div>
    </div>
  {{/if}}
</template>
