<template name="usersUpdateFormCom">

  {{#if Template.subscriptionsReady}}
    <div class="wrapper wrapper-content animated fadeInRight">
      <div class="row">
        <div class="ibox">
          <div class="ibox-content">
            {{> quickForm schema=getUsersUpdateFormSchema doc=getUser id="usersUpdateForm" type="method" meteormethod="users.update" buttonContent=getSubmitButtonText }}
          </div>
        </div>
      </div>
    </div>
  {{else}}
    <div class="spiner">
      <div class="sk-spinner sk-spinner-double-bounce">
        <div class="sk-double-bounce1"></div>
        <div class="sk-double-bounce2"></div>
      </div>
    </div>
  {{/if}}

</template>
