<template name="logPage">
  {{> pageHeading title=getTitle links=getLinks }}

  <div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
      <div class="ibox">
        <div class="ibox-content">

          <div class="form-group" id="data_1">
            <label class="font-normal">{{_ 'Choose date to show log on that day'}}</label>
            <div class="input-group date">
              <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input type="text" class="form-control" value={{getDate}}>
            </div>
          </div>

          {{> logList date=getSelectedDate}}

        </div>
      </div>
    </div>
  </div>
</template>